 /* .app-header {
    border-bottom: 1px solid #dbdbdb;
    height :104px;
    background-color: rgb(246, 248, 250);
}  */

.app-main-container{
    display: flex;
    justify-content: space-between; /**/
    margin: 8px auto 0px;
    padding: 0px 32px;
    max-width:1280px;
}

.main-left{
    margin-top: 32px;
    width: 296px;
}

.profile-img-container{
    position : relative;
}

.user-status-border{
    /* absolute :내가 원하는 지점으로 */
    position: absolute;
    bottom: 18px;
    right: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    background-color: white;
    cursor: pointer;
}

.img-border{
    border: 2px solid #eee;
    border-radius: 50%;
    width: 100%;
    height: 296px;
    overflow: hidden;
}
.img-border img{
    width: 100%;
}

.profile-names-container {
    padding: 16px 0px;
}
.profile-user-name {
    font-size: 28px;
    font-weight: 700;
    color:#333;
}

.profile-user-username {
    font-size :20px;
    font-weight: 300;
    color: #555;
}

.edit-profile-buttons {
    margin-bottom: 16px;
}

.follow-container {
    margin-bottom: 16px;
}
.follow-link * {
    color: #888;
    text-decoration: none;
}
/* :not(내용) : 내용 빼고 전체적용 */

.follow-link,
.follow-font-b {
    font-weight: 300;
}

.follow-container a .follow-font-b {
    font-weight: 500;
    color : #333;
}
    /* 가상클래스 선택자. 
    hover : 마우스가 올라가면 -> 색상변경*/
.follow-container a:hover,
.follow-container a:hover * {
    color: #0969da;
}

.company-and-address-items {
    position:relative;
    padding: 4px 0px 0px 24px;
}

.company-and-address-items i {
    position:absolute;
    bottom: 0;
    left: 0;
}

.company-items-name {
    font-weight:500;
    cursor:pointer;
}

.company-items-name:hover {
    text-decoration: underline;
}

.profile-etc-container {
    margin-top: 16px;
    border-top: 1px solid #dbdbdb;
    padding-top: 16px;
}

.profile-etc-title {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
}

.Achievements-items {
    display : flex;
    flex-wrap: wrap;
}

.Achievements-img {
    border: 2px solid white;
    border-radius : 50%;
    width: 64px;
    height: 64px;
    overflow: hidden;
}
.Achievements-img img {
    width:100%;
}
.Achievements-img img * {
    width:100%;
}

.Achievements-beta{
    display: inline-block;
    border : 1px solid #1a7f37;
    border-radius: 14px; /*폰트크기랑 동일하게*/
    padding:1.428px 8px;
    color: #1a7f37;
    font-weight: 300;
}

.Achievements-bottom {
    margin-top: 8px;
}

.send-feedback-link {
    text-decoration: none;
    font-weight: 300;
    color: #0969da
}
.send-feedback-link :hover {
    text-decoration: underline;
}

.Organization-items{
    display:flex;
    flex-wrap:wrap;
}

.Organizaions-img{
    margin-right: 3px;
    margin-bottom: 3px;
    border: 1px solid #dbdbdb;
    border-radius:6px;
    width: 32px;
    height: 32px;
    background-color : 3px;
}

.Organizaions-img img {
    width:32px;
    height:32px;
}