 /* .app-header {
    border-bottom: 1px solid #dbdbdb;
    height :104px;
    background-color: rgb(246, 248, 250);
}  */

.app-main-container{
    display: flex;
    justify-content: space-between; /**/
    margin: 8px auto 0px;
    padding: 0px 32px;
    width:1280px;
}

.main-left{
    margin-top: 32px;
    width: 296px;
}

.main-right{
    width: 896px;
    height: 100px;
    background-color: #eee;
}

.img-border{
    border: 2px solid #eee;
    border-radius: 50%;
    width: 100%;
    height: 296px;
    overflow: hidden;
}
.img-border img{
    width: 100%;
}

.profile-names-container {
    padding: 16px 0px;
}
.profile-user-name {
    font-size: 28px;
    font-weight: 700;
    color:#333;
}

.profile-user-username {
    font-size :20px;
    font-weight: 300;
    color: #555;
}

.edit-profile-buttons {
    margin-bottom: 16px;
}

.follow-link * {
    color: #888;
    text-decoration: none;
}
/* :not(내용) : 내용 빼고 전체적용 */

.follow-link,
.follow-font-b {
    font-weight: 300;
}

.follow-container a .follow-font-b {
    font-weight: 500;
    color : #333;
}
    /* 가상클래스 선택자. 
    hover : 마우스가 올라가면 -> 색상변경*/
.follow-container a *:hover {
    color: #0969da;
}